@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor.NET Core 8 - CRUD Component Scaffolding</h1>

<p>
    This project is a Blazor.NET Core 8 CRUD Component Scaffolding project.
</p>
<p>
    The MammalsPages have been created using Add New Item, then selecting
    Razor Components Using EF CRUD.  It uses the QuickGrid component with
    sorting, paging and filtering added.
</p>
<p>
    <a href="https://www.youtube.com/watch?v=DXFa4zJ9tK0&ab_channel=DotNetRealworldexample">
        YouTube Video: Blazor CRUD Operation Using Scaffolding
    </a>
</p>
